@charset "UTF-8";
ul, ol {
    list-style: none;
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
body, html {
    height: 100%;
    font-family: Microsoft JhengHei;
    margin: 0;
    overflow: visible;
    font-size: 62.5%;
}
section {
    padding: 50px 0px;
}
svg {
    width: 100%;
    height: 100%;
}
.icon {
    display: inline-block;
}
.flx {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -moz-box;
    display: flex;
}


.j-c-cntr {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}
.j-c-btween {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
.j-c-sard {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}
.j-c-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}
.a-i-cntr{
    -webkit-align-items: center;
    align-items: center;
}
.a-i-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.a-i-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flx-flow {
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.gbc-container {
    height: 100%;
    width: 100%;
}
.navbar {
    z-index: 99;
    position: fixed;
    width: 100vw;
    transition: .5s;
    background-color: rgba(34, 34, 34, 1);

}
.navbar__btween {
    padding: 10px 25px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
.navbar_js-top {
    background: rgba(0, 0, 0, 0.3);
}
header.navbar_js-top a, header.navbar_js-top .navbar__item>a {
    color: rgba(255, 255, 255, 1);
}
.navbar__log {
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    transition: .5s;
    font-size: 1.8rem;
}
.navbar__list{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}
.navbar__item {
    padding: 0 10px;
}
.navbar__item>a {
    font-size: 1.5rem;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
}
.first-page {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.first-page__content {
    color: rgba(200, 200, 200, 1);
    padding: 200px 0px;
}
.first-page__content h1 {
    font-size: 5rem;
}
.first-page__content hr {
    max-width: 50px;
    border: solid 2px #ff6e3a;
}
.first-page__content h4 {
    font-size: 2rem;
    font-weight: normal;
}
.first-page__bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100%;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.section-ask {
    position: relative;
    background-color: rgba(34, 34, 34, 1);
}
.section-ask__list{

}
.item_fadeout{
    display: none;
}
.section-ask__box{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
/* Fading animation */
.section-ask__item {
  -webkit-animation-name: section-ask__fade;
  -webkit-animation-duration: 1.5s;
  animation-name: section-ask__fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes section-ask__fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes section-ask__fade {
  from {opacity: .4}
  to {opacity: 1}
}
.section-ask__prev,
.section-ask__next{
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

}
.section-ask__prev:hover, .section-ask__next:hover {
    background-color: rgba(0,0,0,0.8);
}
.section-ask__next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.section-ask__prev > svg > polyline,
.section-ask__next > svg > polyline {
    stroke: rgb(255,255,255);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.section-ask>.flx {
    padding: 20px;
}
.section-ask__img {
    flex: 1;
    height: 420px;
    position: relative;
}
.section-ask__img > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.section-ask__text {
    flex: 1;
}
.section-ask__text>h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    margin-top: 90px;
    padding: 0px 20px;
}
.section-about {
    padding: 50px 90px;
    background-color: rgba(255, 255, 255, 1);
}
.section-about>.flx {
    margin-top: 50px;
}
.section-about__title {
    text-align: center;
    font-size: 3rem;
}
.section-about__container{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.about-box {
    /*    width: 350px;
    height: 400px;*/
    margin: 10px;
    text-align: center;
}
.about-box__img {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.about-box__img > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.about-box>h3 {
    margin: 10px 0;
    font-size: 2.5rem;
}
.about-box>p {
    margin: 10px 0;
    font-size: 1.2rem;
}
.section-locat {
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, .9);
    padding: 30px;
}
.section-locat__icon-bar{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
/*.gbc-map {
    background-image: url("../img/map.png");
    background-size: 100%;
    width: 60%;
    height: 500px;
    margin: 0 auto;
}*/
.gbc-map {
    width: 100%;
    height: 500px;
    color:  rgba(34, 34, 34, 1);
}
.locat-title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
}
.loact-box {
    -webkit-flex:1;
    -ms-flex:1;
    -moz-flex:1;
    flex:1;
    text-align: center;
}
.loact-box>.icon {
    width: 50px;
    height: 50px;
    fill: rgba(255, 255, 255, .9);
}
.address-infor {
    text-align: center;
}
.section-video {
    padding: 50px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.section-video__title {
    margin: 0 30px;
    font-size: 2.4rem;
}
.section-video__container{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.section-video__item {
    -webkit-flex:1;
    -ms-flex:1;
    -moz-flex:1;
    flex:1;
    height: 100%;
    font-size: 1.8rem;
    padding: 0 20px;
}
.video-box{
    position: relative;
    height: 300px;
}
.video-box__yutb{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
.infor-bar {
    text-align: center;
    background-color: #222;
    color: white;
    margin-bottom: 0px;
    padding: 20px;
}
.infor-bar__title {
    font-weight: bold;
    font-size: 3rem;
}
.contact-text {
    display: block;
    padding: 10px;
    text-align: center;
}
.contact-text span {
    display: inline-block;
    letter-spacing: 2px;
    padding-left: 8px;
    vertical-align: middle;
}
.iconbar>.icon {
    transition-duration: 0.5s;
    color: white;
    text-decoration: none;
    width: 60px;
    height: 60px;
    margin: 30px;
    fill: rgba(255, 255, 255, .9);
}
.iconbar>.icon:hover {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    cursor: pointer;
}
.infor-bar hr {
    max-width: 50px;
    border: solid 2px #ff6e3a;
}

@media (max-width: 768px) {
    .navbar__log{
        display: none;
    }
    .section-ask__box,
    .section-about__container,
    .section-video__container{
        -webkit-flex-flow: column wrap;
        -moz-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .section-ask__img, .section-ask__text {
        text-align: center;
        width: 100%;
    }
    .about-box__img {
        width: 100%;
        /*height: 150px;*/
    }

    .section-video__item{
        width: calc(100% - 100px);
        padding: 0 20px;
    }
}
@media (max-width: 992px) {}
@media (max-width: 1200px) {}